@page
@using System.Globalization
@model VSU_Schedule.Areas.Timetable.Pages.IndexModel
@{
    ViewData["Title"] = "Расписание";
    var rowSpan = Model.Para.Count + 1;
    bool activeSemesterTab = true;
    bool activeSemesterPage = true;
}
<style>
    ul.dropdown-search-box {
        max-height: 300px;
        width: 270px;
        overflow-y: auto;
    }

        ul.dropdown-search-box .search-box {
            padding: 0 5px 5px 5px;
            border-bottom: 1px solid #ddd;
        }
</style>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    @foreach (var semGroups in Model.Groups.GroupBy(g => g.SemesterNumber))
    {
        var active = activeSemesterTab ? "active" : "";

        <li class="nav-item">
            <a class="nav-link @active" id="@semGroups.Key-tab" data-toggle="tab" href="#sem-@semGroups.Key" role="tab" aria-controls="@semGroups.Key" aria-selected="@activeSemesterTab">@semGroups.Key семестр</a>
        </li>
        activeSemesterTab = false;
    }
</ul>
@foreach (var sem in Model.TeacherSubjects.GroupBy(g => g.Subject.Semester))
{
    var active = activeSemesterPage ? "show active" : "";

    activeSemesterTab = false;
}
<div class="tab-content" id="myTabContent">
    @foreach (var semGroups in Model.Groups.GroupBy(g => g.SemesterNumber))
    {
        var active = activeSemesterPage ? "show active" : "";
        activeSemesterPage = false;
        <div class="tab-pane fade @active" id="sem-@semGroups.Key" role="tabpanel" aria-labelledby="@semGroups.Key-tab">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col" colspan="2" rowspan="2"></th>
                        @foreach (var group in semGroups.OrderBy(g => g.GroupNumber).GroupBy(g => g.GroupNumber))
                        {
                            var subgroupsCount = group.Count();

                            <th scope="col" colspan="@subgroupsCount" class="text-center">Группа @group.Key</th>
                        }
                    </tr>
                    <tr>

                        @foreach (var group in semGroups.OrderBy(g => g.GroupNumber).ThenBy(g => g.SubgroupNumber))
                        {
                            <th scope="col" class="text-center">@group.SubgroupNumber</th>
                        }
                    </tr>
                </thead>
                <tbody>

                    @for (int day = 1; day <= 6; day++)
                    {
                        <tr>
                            <td rowspan="@rowSpan">@CultureInfo.CurrentCulture.DateTimeFormat.DayNames[day]</td>
                        </tr>

                        @foreach (var para in Model.Para)
                        {
                            <tr>
                                <td>@para.StartTime - @para.EndTime</td>
                                @foreach (var group in semGroups)
                                {
                                    <td class="text-center">
                                        <button type="button" class="btn btn-secondary" style="width: 64px" data-toggle="modal" data-target="#exampleModal" data-whatever="@group.GroupNumber.@group.SubgroupNumber, @CultureInfo.CurrentCulture.DateTimeFormat.DayNames[day], @para.StartTime-@para.EndTime" title="Выбрать"><i class="fa fa-pencil"></i></button>
                                    </td>
                                }
                            </tr>
                        }

                    }
                </tbody>
            </table>
            <table class="table">
                <tbody>
                </tbody>
            </table>
        </div>
    }
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Добавление занятия</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label for="recipient-name" class="col-form-label">Предмет</label>
                            </div>
                            <div class="col-8">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" id="select" data-toggle="dropdown" aria-expanded="false">
                                        Выбрать из списка
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu bullet dropdown-menu-right dropdown-search-box" aria-labelledby="select" role="menu">
                                        <li role="presentation" class="search-box"><input type="text" class="form-control" placeholder="Начните вводить..." value="" name="search" /></li>
                                        <li role="presentation" class="dropdown-item"><a href="javascript:void(0)" role="menuitem">Action</a></li>
                                        <li role="presentation" class="dropdown-item"><a href="javascript:void(0)" role="menuitem">Another action</a></li>
                                        <li role="presentation" class="dropdown-item"><a href="javascript:void(0)" role="menuitem">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label for="message-text" class="col-form-label">Преподаватель</label>
                            </div>
                            <div class="col-8">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" id="select" data-toggle="dropdown" aria-expanded="false">
                                        Выбрать из списка
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu bullet dropdown-menu-right dropdown-search-box" aria-labelledby="select" role="menu">
                                        <li role="presentation" class="search-box"><input type="text" class="form-control" placeholder="Начните вводить..." value="" name="search" /></li>
                                        <li role="presentation" class="dropdown-item"><a href="javascript:void(0)" role="menuitem">Action</a></li>
                                        <li role="presentation" class="dropdown-item"><a href="javascript:void(0)" role="menuitem">Another action</a></li>
                                        <li role="presentation" class="dropdown-item"><a href="javascript:void(0)" role="menuitem">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-4">
                                <label for="message-text" class="col-form-label">Аудитория</label>
                            </div>
                            <div class="col-8">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" id="select" data-toggle="dropdown" aria-expanded="false">
                                        Выбрать из списка
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu bullet dropdown-menu-right dropdown-search-box" aria-labelledby="select" role="menu">
                                        <li role="presentation" class="search-box"><input type="text" class="form-control" placeholder="Начните вводить..." value="" name="search" /></li>
                                        <li role="presentation" class="dropdown-item"><a href="javascript:void(0)" role="menuitem">Action</a></li>
                                        <li role="presentation" class="dropdown-item"><a href="javascript:void(0)" role="menuitem">Another action</a></li>
                                        <li role="presentation" class="dropdown-item"><a href="javascript:void(0)" role="menuitem">Something else here</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">ОК</button>
                </div>
            </form>
        </div>

    </div>
</div>
<script>
    $('#exampleModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var recipient = button.data('whatever') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('Группа ' + recipient)
        //modal.find('.modal-body input').val(recipient)
    })

    var ul = $('.dropdown-search-box');
    var input = ul.find('input');
    var li = ul.find('li.dropdown-item');

    input.keyup(function () {
        var val = $(this).val();

        if (val.length > 1) {
            li.hide();
            li.filter(':contains("' + val + '")').show();
        } else {
            li.show();
        }
    });
</script>