@page
@model VSU_Schedule.Areas.Rooms.Pages.IndexModel
@{ 
    ViewData["Title"] = "Аудитории";
}
    <h4>Аудитории</h4>
<p>
    <a asp-page="Create">Добавить новую</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].IsLecture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].IsPractice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].IsLaboratory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room[0].IsSpecial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Room) {
        <tr>
            <td>
                <a asp-page="./Details" asp-route-id="@item.Number">
                    @Html.DisplayFor(modelItem => item.Number)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLecture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPractice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsLaboratory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsSpecial)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Number">Редактировать</a> |
                <a asp-page="./Delete" asp-route-id="@item.Number">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
